header {
  background-color: antiquewhite;
  color: grey;
  text-align: center;
}

body{
  background-color: goldenrod;
}

h1 {
  color: red
}

h2 {
  color: blue
}

section {
  color: brown
}
body {
  color: gold
}