header {
  background-color: antiquewhite;
  color: grey;
  text-align: center;
  padding: 20px
}

body{
  background-color: rgb(141, 32, 218);
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

section {
  color: brown;
  text-align: center;
}
body {
  color: gold;
  text-align: center;
}
p {
  color: rgba(128, 126, 0, 0.193);
  text-align: center;
}